
  .special {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 5px #6d3ca8;
    background-color: #ddc4ff;
  }

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

  .evidence {
    padding: 10px;
      margin-bottom: 10px;
      border: solid 1px #888;
      background-color: #DDD8C4;
      max-width: 500px;
  }

  #output {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }
