.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

  .evidence {
    padding: 10px;
      margin-bottom: 10px;
      border: solid 1px #888;
      background-color: #DDD8C4;
      max-width: 500px;
  }